<section
  class="resume-section skills-section p-3 p-lg-5 d-flex align-items-center"
  id="skills"
>
  <div
    class="skills-outer-container section-content skills-section-content animate sectionFadeIn"
  >
    <h2 class="mb-5">Skills</h2>
    <div class="list-group list-group-horizontal flex-wrap skill-container">
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="HTML5"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
          alt="HTML5"
        />
        <figcaption>HTML5</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="CSS3"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
          alt="CSS3"
        />
        <figcaption>CSS3</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="JavaScript"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt="JavaScript"
        />
        <figcaption>JavaScript</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="Bootstrap"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
          alt="Bootstrap"
        />
        <figcaption>Bootstrap</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="React"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          alt="React"
        />
        <figcaption>React</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="Next.js"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
          alt="Next.js"
        />
        <figcaption>Next.js</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="Node.js"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          alt="Node.js"
        />
        <figcaption>Node.js</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="Express.js"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
          alt="Express.js"
        />
        <figcaption>Express.js</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="MongoDB"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
          alt="MongoDB"
        />
        <figcaption>MongoDB</figcaption>
      </figure>
      <figure class="list-group-item skill-item animate skillFadeIn">
        <img
          class="skill-icon"
          title="Git"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
          alt="Git"
        />
        <figcaption>Git</figcaption>
      </figure>
    </div>
    <!-- <div class="additional-skills">
      <h3>Additional Skills</h3>
      <ul>
        <li>Front-end</li>
        <li>Backend</li>
        <li>Theming</li>
        <li>Automation</li>
        <li>Problem solving</li>
        <li>SEO Optimization</li>
        <li>Analytics</li>
        <li>UX/UI design principles</li>
        <li>Testing/debugging</li>
        <li>Package management</li>
        <li>interactive websites</li>
        <li>CRUD</li>
        <li>Restful APIs</li>
        <li>Auth</li>
        <li>Linux</li>
        <li>AWS services</li>
        <li>Build and Deployment</li>
        <li>Monitoring</li>
        <li>CLI</li>
        <li>Regex</li>
        <li>CI/CD</li>
        <li>Infrastructure</li>
        <li>Semantic HTML</li>
        <li>AJAX, Async</li>
        <li>CSS architecture</li>
        <li>Build tools</li>
        <li>Responsive design</li>
        <li>Project management, Agile, Scrum, Kanban</li>
        <li>Object Oriented Programming</li>
        <li>Algorithms and data structures</li>
      </ul>
    </div> -->
  </div>
  <a class="more-link" href="#">More skills...</a>
</section>
