<div
  class="modal fade"
  id="thankYouModal"
  tabindex="-1"
  aria-labelledby="thankYouModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-3" id="thankYouModalLabel">Thank You!!</h1>
      </div>
      <div class="modal-body">
        Thank you for your message! I'll be in touch shortly.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
