@use 'variables';

#contact{
  .contact-info {
    color: variables.$gray-600;
    font-size: 1.075rem;
    a {
      color: variables.$gray-600;
    }

    .contact-links-test svg {
      fill: variables.$gray-600;
      width: 1.25rem;
      height: auto;
      vertical-align: baseline;
    }

    .contact-links-test .contact-link-text {
      color: variables.$gray-600;
    }

  }
  .contact-form {
    padding: 5rem 3rem;
    box-shadow: -4px 4px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--ibms-primary-color-lighter); 
    input, textarea{
      // background-color: rgba(255, 255, 255, 0.55);
      background-color: rgb(179, 205, 228);
      color: rgb(33, 37, 41)
    }

    input.form-control:-internal-autofill-selected {
      background-color: rgb(179, 205, 228) !important;
  }
  
    textarea {
      resize: none;
      height: 20vh;
    }

    label {
      background-color: transparent;
      &::after {
        background-color: transparent;
      }
    }
  }
  .contact-link, a{
    color: var(--ibms-primary-text);
    
    svg {
      fill: var(--ibms-primary-text);
      width: 1.25rem;
      height: auto;
      vertical-align: baseline;
    }
  }
  

}

@media (min-width: 992px) {
  .contact-info {

    padding-right: 5rem;
    padding-top: 5rem;
  } 
}

