@use 'variables';
//default, all screen sizes
section.resume-section { // the different sections of the resume like about, experience etc
  border-bottom: 1px solid variables.$gray-300; //creates a border at the bottom of a resume section
  // padding-top: 5rem !important; 
  // padding-bottom: 5rem !important;
  position: relative;
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    // padding-top: 3rem !important;
    // padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .section-content{
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  .section-content{
    max-width: 75%;
  }
}
