@use 'variables';
//default, all screen sizes
html {
  scroll-behavior: smooth;
}

section.resume-section { // the different sections of the resume like about, experience etc
  border-bottom: 1px solid variables.$gray-300; //creates a border at the bottom of a resume section
  padding-top: 5rem !important; 
  padding-bottom: 5rem !important;
  position: relative;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .section-content{
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  .section-content{
    max-width: 80%;
  }
}
