@use 'sass:color';
// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$french-blue: #3E7CB1;
$french-blue-rgb: rgb(61, 122, 176);
$cornflower-blue: #7BAFD4;
$cornflower-blue-rgb: rgb(123, 175, 212);
$metallic-seaweed: #367588;
$metallic-seaweed-rgb: rgb(54, 117, 136);
$teal2: #008080;
$teal2-rgb: rgb(0, 128, 128);
$cerulean: #007BA7;
$cerulean-rgb: rgb(0, 123, 167);
$hookers-green: #49796B;
$hookers-green-rgb: rgb(73, 121, 107);
$bottle-green: #006A4E;
$bottle-green-rgb: rgb(0, 106, 78);
$forest-green: #228B22;
$forest-green-rgb: rgb(34, 139, 34);
$myrtle-green: #317873;
$myrtle-green-rgb: rgb(49, 120, 115);


$primary:       $french-blue !default;
$primary-rgb:   $french-blue-rgb !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

$sidebar-base-width: 17rem;

// Text colors

$primary-custom-text-color      : rgba(255, 255, 255, 0.55);
$primary-custom-text-hover-color: rgba(255, 255, 255, 0.75);

// Themes

:root {
  --ibms-primary-color: #{$primary};
  --ibms-primary-color-rgb: #{$primary-rgb};

  --ibms-primary-color-dark: #{color.scale($primary, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($primary, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($primary, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($primary, $lightness: 15%)};
  
  --ibms-primary-text: rgba(255, 255, 255, 0.55); 
  
  --ibms-btn-bg: #{$primary};
  --ibms-btn-border-color: #{$primary};

  --ibms-dropdown-bg-color: #{$primary};
  --ibms-dropdown-text-color: var(--ibms-primary-text)
}

.theme-french-blue {
  --ibms-primary-color: #{$french-blue}; 
  --ibms-primary-color-rgb: #{$french-blue-rgb};
  --ibms-primary-color-dark: #{color.scale($french-blue, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($french-blue, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($french-blue, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($french-blue, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$french-blue};
  --ibms-btn-border-color: #{$french-blue};
  --bs-dropdown-link-color: var(--ibms-primary-text);
  --bs-dropdown-bg: var(--ibms-primary-color);
}


.theme-cornflower-blue {
  --ibms-primary-color: #{$cornflower-blue};
  --ibms-primary-color-rgb: #{$cornflower-blue-rgb};
  --ibms-primary-color-dark: #{color.scale($cornflower-blue, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($cornflower-blue, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($cornflower-blue, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($cornflower-blue, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$cornflower-blue};
  --ibms-btn-border-color: #{$cornflower-blue};
}

.theme-metallic-seaweed {
  --ibms-primary-color: #{$metallic-seaweed};
  --ibms-primary-color-rgb: #{$metallic-seaweed-rgb};
  --ibms-primary-color-dark: #{color.scale($metallic-seaweed, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($metallic-seaweed, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($metallic-seaweed, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($metallic-seaweed, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$metallic-seaweed};
  --ibms-btn-border-color: #{$metallic-seaweed};
}

.theme-teal2 {
  --ibms-primary-color: #{$teal2};
  --ibms-primary-color-rgb: #{$teal2-rgb};
  --ibms-primary-color-dark: #{color.scale($teal2, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($teal2, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($teal2, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($teal2, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$teal2};
  --ibms-btn-border-color: #{$teal2};
}

.theme-cerulean {
  --ibms-primary-color: #{$cerulean};
  --ibms-primary-color-rgb: #{$cerulean-rgb};
  --ibms-primary-color-dark: #{color.scale($cerulean, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($cerulean, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($cerulean, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($cerulean, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$cerulean};
  --ibms-btn-border-color: #{$cerulean};
}

.theme-hookers-green {
  --ibms-primary-color: #{$hookers-green};
  --ibms-primary-color-rgb: #{$hookers-green-rgb};
  --ibms-primary-color-dark: #{color.scale($hookers-green, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($hookers-green, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($hookers-green, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($hookers-green, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$hookers-green};
  --ibms-btn-border-color: #{$hookers-green};
}

.theme-bottle-green {
  --ibms-primary-color: #{$bottle-green};
  --ibms-primary-color-rgb: #{$bottle-green-rgb};
  --ibms-primary-color-dark: #{color.scale($bottle-green, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($bottle-green, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($bottle-green, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($bottle-green, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$bottle-green};
  --ibms-btn-border-color: #{$bottle-green};
}

.theme-forest-green {
  --ibms-primary-color: #{$forest-green};
  --ibms-primary-color-rgb: #{$forest-green-rgb};
  --ibms-primary-color-dark: #{color.scale($forest-green, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($forest-green, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($forest-green, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($forest-green, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$forest-green};
  --ibms-btn-border-color: #{$forest-green};
}

.theme-myrtle-green {
  --ibms-primary-color: #{$myrtle-green};
  --ibms-primary-color-rgb: #{$myrtle-green-rgb};
  --ibms-primary-color-dark: #{color.scale($myrtle-green, $lightness: -7.5%)};
  --ibms-primary-color-darker: #{color.scale($myrtle-green, $lightness: -15%)};
  --ibms-primary-color-light: #{color.scale($myrtle-green, $lightness: 7.5%)};
  --ibms-primary-color-lighter: #{color.scale($myrtle-green, $lightness: 15%)};
  --ibms-primary-text: rgba(255, 255, 255, 0.55);
  --ibms-btn-bg: #{$myrtle-green};
  --ibms-btn-border-color: #{$myrtle-green};
}
